body {
  background-image: linear-gradient( 109.6deg,  rgba(255,219,47,1) 11.2%, rgba(244,253,0,1) 100.2% );
}

.todo-form input[type="text"]::placeholder {
  color: #bebebe;
  font-style: italic;
}

.App h1 {
  font-size: 3.5rem;
}

.todo li {
  border-radius: 4px;
  width: 15rem;
}